*{
    box-sizing: border-box;
}
html{
    background-color: rgb(42, 42, 46);
}
.collapse a{
    margin-left: 10px;
}
.collapse a:hover{
    color: rgb(202, 4, 169) !important;
    transition: .3s;
}

.navbar-brand{
    color: rgb(202, 4, 169) !important;
}

.my-cor{
    padding: 0;
}
body{
    background-color: rgb(42, 42, 46);
}
.dance{
    margin-top: 50px;
}
.dance .col{
    display:flex;
    justify-content: center;
}
.dance .container .row .col img{
    border-radius: 9px;
}
.dance .container .row .col h2{
    font-size: 24px;
    color: rgb(202, 4, 169);
    margin-top: 30px;
}
.dance .container .row .col h3{
    font-size: 18px;
    color: aliceblue;
    margin-bottom: 30px;
}
.dance .container .row .col .card{
    background-color: #212529;
    width: 350px;
    height: 570px;
    padding: 10px;
    border-radius: 15px;
    margin-top: 20px;
}
.dance .container .row .col .card .pink{
    width: 330px;
    height: 45px;
    background-color: rgb(202, 4, 169);
    color: aliceblue;
    border: none;
    border-radius: 9px;
    transition: .5s;
}
.dance .container .row .col .card .pink:hover{
    transform: translateY(-5px);
    transition: .3s;
}

.dance .container .row .col .card .black{
    width: 330px;
    height: 45px;
    background-color: rgb(42, 42, 46);
    color: aliceblue;
    border: none;
    border-radius: 9px;
    margin-top: 10px;
    transition: .5s;
}
.dance .container .row .col .card .black:hover{
    transform: translateY(-5px);
    transition: .3s;
}
.dance .container .row .col .nap{
    color: aliceblue;
    margin-bottom: 50px;
    font-size: 50px;
}

.about{
    margin-top: 100px;
    background-color: #212529;
    padding: 50px;
}

.about .name{
    font-size: 52px;
    color: rgb(202, 4, 169);
    margin-bottom: 30px;
}
.about .line{
    width: 100%;
    height: 1px;
    background-color: aliceblue;
}
.about .pink{
    color: rgb(202, 4, 169);
}
.about h3{
    font-size: 22px;
    color: aliceblue;
    margin-bottom: 30px;
    margin-top: 30px;
    line-height: 30px;
}
.about .col .frst{
    display: flex;
    justify-content: space-evenly;
}
.about .col .scnd{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.plus{
    margin-top: 50px;
}

.plus .textplus{
    color:rgb(202, 4, 169) ;
    margin-bottom: 50px;
    font-size: 50px;
}
.plus .container h3{
    font-size: 24px;
    color: aliceblue;
    margin-bottom: 10px;
    margin-top: 50px;
}
.plus .container .line{
    height: 1px;
    width: 100%;
    background-color: rgb(202, 4, 169);
}
.plus .container h4{
    margin-top: 10px;
    font-size: 16px;
    color: aliceblue;
    margin-bottom: 0;
}
.plus .container .col .scnd{
    margin-top: 50px;
}

.abonement{
    margin-top: 100px;
    background-color: #212529;
    padding: 50px;
}
.abonement .container .row .col .textab{
    font-size: 50px;
    color: aliceblue;
    margin-bottom: 30px;
}
.abonement .container .row .col h3{
    font-size: 20px;
    color: aliceblue;
    line-height: 30px;
}
.abonement .container .row .col .pink{
    color: rgb(202, 4, 169);
}
.mb-3{
    margin-top: 50px;
}
.mb-3 label{
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}
.send{
    margin-top: 30px;
    width: 300px;
    height: 45px;
    background-color:rgb(202, 4, 169) ;
    border: none;
    border-radius: 9px;
    color: aliceblue;
    transition: .5s;
}
.send:hover{
    transform: translateY(-10px);
    transition: .3s;
}

.arenda{
    margin-top: 50px;
    
}

.arenda .container .pink{
    font-size: 50px;
    color: rgb(202, 4, 169);
    margin-bottom: 30px;
}
.arenda .container .middle{
    color: aliceblue;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 40px;
}
.arenda .container .row .col .kv{
    text-align: start;
    font-size: 25px;
    color:rgb(202, 4, 169) ;
}
.arenda .container .row .col .namezal{
    text-align: start;
    font-size: 30px;
    color: aliceblue;
}
.arenda .container .row .col .zal{
    text-align: start;
    font-size: 20px;
    color: aliceblue;
    line-height: 30px;
}
.arenda .container .row .col .photo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 200px;
    height: 45px;
    border: none;
    border-radius: 9px;
    background-color:rgb(202, 4, 169) ;
    color: aliceblue;
    margin-bottom: 20px;
    transition: .5s;

}
.arenda .container .row .col .photo:hover{
    transform: translateY(-10px);
    transition: .3s;
}
.arenda .container .row{
    margin-top: 50px;
}
.arenda .container .line{
    width: 100%;
    height: 1px;
    background-color:rgb(202, 4, 169) ;
    margin-top: 50px;
    
}
.arenda .container .row .col img{
    width: 400px;
    
}
.footer{
    margin-top: 100px;
    background-color: #212529;
}
.footer .text-center{
    color: aliceblue;
}
.footer .text-body{
    color: aliceblue !important;
    
}





@media (max-width: 480px) {
    .container{
        width:  300px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .arenda .container .pink{
        font-size: 30px !important;
    }
    .arenda .container .middle{
        font-size: 18px !important;
        line-height: 20px !important;
        margin-bottom: 10px !important;
    }
    .arenda .container .zal{
        font-size: 16px !important;
    }
    .arenda .container img{
        width: 250px !important;
    }
    .arenda .container .photo{
        width: 150px !important;
    }
    .abonement{
        padding: 0 !important;
    }
    .abonement .container .textab{
        font-size: 30px !important;
    }
    .abonement .container h3{
        font-size: 15px !important;
        text-align: start;
    }
    .abonement .container .send{
        width: 150px !important;
    }
    .plus .container .textplus{
        font-size: 30px !important;
    }
    .plus .container h3{
        font-size: 18px !important;
        margin-top: 30px !important;
        
    }
    .plus .container h4{
        font-size: 16px !important;
        margin-bottom: 0px !important;
    }
    .about{
        padding: 0 !important;
    }
    .about .container img{
        width: 130px !important;
    }
    .about .container .name{
        font-size: 30px !important;
    }
    .about .container h3{
        font-size: 16px !important;
        line-height: 25px !important;
    }
    .dance .container .nap{
        font-size: 30px !important;
    }
    .dance .container h2{
        font-size: 20px !important;
    }
    .dance .container h3{
        font-size: 16px !important;
    }
    .dance .container .pink{
        width: 230px !important;
    }
    .dance .container .black{
        width: 230px !important;
        
    }
    .dance .container{
        width: 95% !important;
    }
    .about .container{
        width: 95% !important;
        padding-top: 30px !important;
        padding-bottom: 30px !important;
    }
    .plus .container{
        width: 95% !important;
    }
    .abonement .container{
        width: 95% !important;
        padding-top: 30px !important;
        padding-bottom: 30px !important;
    }
    .arenda .container{
        width: 95% !important;
    }
    .arenda .container .row{
        display: flex !important;
        flex-direction: column !important;
    }
    .footer .container{
        width: 95% !important;
    }
    html{
        overflow-x: hidden;
    }
}
